@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Bold.ttf");
  font-weight: bold;
}
