.navbar-nav {
    .nav-link {
      font-size: 18px;
      color: black;

      &.btn-d-danger {
        color: white;

        &:hover{
          color: #b71218;
        }
      }
    }

    a {
      text-decoration: none; 
    }

    .dropdown-menu{
      a:hover{
        background-color: white;
      }
      a:active{
        color: black;
        background-color: white;
      }
    }
}