@media (max-width: 992px) {
  .navbar-nav {
    .btn-d-danger {
        background-color: white;
        border: 0 solid white;
      }

    .nav-link {
      &.btn-d-danger {
        color: black;
    
        &:hover{
          color: black;
        }
      }
    }
  }
}