@import "./animation.scss";

.section-home {
  font-size: 30px;

  h1 {
    font-weight: bold;
  }

  button {
    font-size: 27px;
  }

  div {
    .h1 {
      font-weight: 800px;
    }
  }

  .ava .before {
    width: 397px;
    height: 396px;
    background-color: #b71218;
    border-radius: 40px;
    position: absolute;
    animation: rotate-ava-background 2s forwards;
  }
  img {
    z-index: 100;
  }
}
