body {
  font-family: "Manrope", sans-serif;
  color: black;
}

.btn-d-danger {
  background-color: #b71218;
  border: 3px solid #b71218;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: white;
    color: #b71218;
  }
}

.text-danger {
  color: #b71218 !important;
}

h1 {
  font-size: 115px;
}

h2 {
  font-size: 64px;
}

a{
  color: black;
}