body {
  font-family: "Manrope", sans-serif;
  color: black;

  .btn-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border: 3px solid #b71218;
    background-color: white;
    font-size: 40px;

    i {
      position: absolute;
      bottom: -7px;
      left: 2px;
    }
  }
}

.btn-d-danger {
  text-decoration: none;
  background-color: #b71218;
  border: 3px solid #b71218;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: white;
    color: #b71218;
  }
}

.text-danger {
  color: #b71218 !important;
}

h1 {
  font-size: 115px;
}

h2 {
  font-size: 64px;
}

a{
  color: black;
}