@media (min-width: 992px) {
    .section-types{
        .lt-card {
            transition: all 0.2s ease-out;
            top: 0;
            left: 0;
        }

        .rt-card {
            transition: all 0.2s ease-out;
            top: 0;
            right: 0;
        }

        .lb-card {
            transition: all 0.2s ease-out;
            bottom: 0;
            left: 0;
        }

        .rb-card {
            transition: all 0.2s ease-out;
            bottom: 0;
            right: 0;
        }

        .lt-card:hover {
            top: -25px;
            left: -25px;
        }
        
        .rt-card:hover {
            top: -25px;
            right: -25px;
        }
        
        .lb-card:hover {
            bottom: -25px;
            left: -25px;
        }
        
        .rb-card:hover {
            bottom: -25px;
            right: -25px;
        }
    }
}