.section-types {
  .card {
    z-index: 100;
    border-radius: 50px;

    h3 {
      color: #b71218;
      font-size: 100px;
      text-transform: uppercase;
    }

    .translation {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }

    .time {
      font-size: 16px;
      color: #7d818b;
    }
  }

  .types {
    position: relative;
    .crosshair {
      position: absolute;
      left: calc(50% - 150px);
      top: calc(50% - 150px);
      width: 300px;
      height: 300px;
      background-color: #b71218;
    }
  }
}
